#header {
	padding-top: 50px;
	padding-bottom: 20px;
}

#save {
	padding-bottom: 30px;
	float: right;
	position: relative;
}

#workoutname {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#save, #new-exercise {
	background-color:#ff6335;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:2px solid #ff6134;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:16px 40px;
	text-decoration:none;
	text-shadow:0px 1px 10px #2f6627;
}
#save:hover, #new-exercise:hover {
	background-color:#ff6651;
}
#save:active, #new-exercise:active {
	position:relative;
	top:1px;
}

#table-wrapper {
	width: 75%;
	font-size: 1.9em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

th, td{
	padding-right: 100px;
	padding-left: 100px;
	margin-left:auto;
	margin-right:auto;
	
}
th:nth-child(1){
	width:325px;
}

th:nth-child(2){
	width:200px;
}

th:nth-child(3){
	width:50px;
	padding-left:25px;
	padding-right:25px;
}
table{
	width:auto;
	margin-left: auto;
	margin-right: auto;
}

.searchbox {
	font-size: 1em;
}

tr {
	height: 50px;
}

#save {
	margin-right: 50px;
}

#delbutton {
	background-color:transparent;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-family:arial;
	font-size:36px;
	font-weight:bold;
	width:50px;
	height:50px;
	padding:0px;
	text-decoration:none;
}